################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAPS/v15/Browse.VC.db
/.vs/MAPS/v15/Browse.VC.opendb
/.vs/MAPS/v15/.suo
/.vs/MAPS/v15/ipch/AutoPCH/eba2563378fbf54b
/.vs/MAPS/v15/ipch/AutoPCH/3170aed9de64025c
/.vs
