################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS235-10/Debug
/CS235-10.sln
/Debug/CS235-10.pdb
